.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
  display:table;
  content:"";
}
.clearfix:after { clear:both; }
.fade-out { opacity:0 !important; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#3b3a37;
  font-size:100%;
  line-height:1.6;
}
a, a:link, a:visited, a:active, a:focus {
  color:#000000;
  text-decoration:none;
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0.1);
}
a:hover {
  color:#cc0000;
  background:rgba(204,0,0,0.05);
  text-decoration:none;
}
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
::-moz-selection, ::selection {
  background:#cc0000;
  color:#ffffff;
  text-shadow:none;
}
p a, li a, blockquote a, .text-block a {
  border-bottom:1px solid #000000;
  border-bottom-color:rgba(0,0,0,0.3);
}
p a:hover, li a:hover, blockquote a:hover, .text-block a:hover { border-bottom-color:#cc0000; }
.underlined {
  border-bottom:1px solid #000000;
  border-bottom-color:rgba(0,0,0,0.3);
}
.underlined:hover { border-bottom-color:#cc0000; }
small { font-size:0.75em; }
h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
  font-family:inherit;
}
h1 {
  font-size:2.5em;
  line-height:1.1em;
}
h2 {
  font-size:1.8em;
  margin:1.05em 0 .55em;
  line-height:1.2em;
}
h3 {
  font-size:1.25em;
  margin:1.1em 0 0.5em;
  line-height:1.2em;
}
h4, h5, h6 {
  font-size:1em;
  margin:1.5em 0 0.5em;
}
p { margin-bottom:1em; }
p img {
  display:block;
  height:auto;
  width:auto;
  max-width:768px;
}
ul, ol { margin:0 0 1em 2em; }
li { margin:0 0 0.5em 0; }
blockquote { margin:1em 0 1em 2em; }
pre {
  font-family:Courier, monospace;
  font-size:0.75em;
  line-height:1.2em;
}
input[type="submit"], button, .button {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  color:#f8f8f6;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#3b3a37;
  font-weight:bold;
  cursor:pointer;
  display:block;
  outline:none;
  padding:0.75em 1.5em;
  position:relative;
  text-decoration:none;
  border:0;
  -webkit-transition:background-color 0.3s ease-in-out;
  -moz-transition:background-color 0.3s ease-in-out;
  -o-transition:background-color 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
input[type="submit"]:hover, button:hover, .button:hover { background:#555450; }
input[type="submit"]:active, button:active, .button:active { background:#21201e; }
form label {
  display:block;
  font-weight:bold;
  padding-bottom:0.25em;
  margin:0;
  font-size:.875em;
  line-height:1.6em;
  cursor:pointer;
}
form input, form textarea {
  padding:0.57142857142857em;
  font-size:.875em;
  line-height:1.6em;
  border:1px solid #999999;
  margin:0;
}
.two-dim-slider {
  position:relative;
  width:600px;
  height:600px;
  z-index:1;
}
.two-dim-slider .preloader-container {
  position:absolute;
  left:50%;
  top:50%;
}
.two-dim-slider .preloader-container .preloader-spinner {
  width:20px;
  height:20px;
  margin-left:-10px;
  margin-top:-10px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/preloader.gif);
}
.two-dim-slider a.play-button-container {
  position:absolute;
  left:50%;
  top:50%;
  display:block;
  border:0;
}
.two-dim-slider a.play-button-container:hover {
  opacity:.8;
  background:none;
  border:0;
}
.two-dim-slider .play-button {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:64px;
  height:64px;
  margin-left:-32px;
  margin-top:-32px;
  display:block;
  cursor:pointer !important;
  background:#ffffff;
  -webkit-border-radius:32px;
  -moz-border-radius:32px;
  border-radius:32px;
  overflow:hidden;
  -webkit-transition:opacity .3s ease-in-out;
  -moz-transition:opacity .3s ease-in-out;
  -o-transition:opacity .3s ease-in-out;
  transition:opacity .3s ease-in-out;
}
.two-dim-slider .play-button .play-button-icon {
  width:64px;
  height:64px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/touchfolio-sprite-default.png) no-repeat -96px 0 transparent;
  display:block;
  float:left;
}
.two-dim-slider .play-button.play-button-loading .play-video-loading-icon {
  width:64px;
  display:block;
  float:left;
  height:64px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/preloader.gif) no-repeat center center transparent;
}
.two-dim-slider .play-button.play-button-loading .play-icons-wrap { margin-left:-64px; }
.two-dim-slider .play-button .play-icons-wrap {
  width:128px;
  margin:0;
  display:block;
  margin-left:0;
  -webkit-transition:all 0.3s cubic-bezier(0.235,0.640,0.565,1.000);
  -moz-transition:all 0.3s cubic-bezier(0.235,0.640,0.565,1.000);
  -o-transition:all 0.3s cubic-bezier(0.235,0.640,0.565,1.000);
  transition:all 0.3s cubic-bezier(0.235,0.640,0.565,1.000);
}
.two-dim-slider .back-to-list-button {
  position:absolute;
  z-index:30;
  left:8px;
  top:16px;
  padding:4px 8px 3px;
  background:#ffffff;
  display:block;
}
.two-dim-slider .video-overlay {
  position:absolute;
  left:0;
  top:0;
  z-index:26;
  bottom:0;
  right:0;
  display:none;
}
.two-dim-slider .video-overlay .video-container {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:3em;
  overflow:hidden;
}
.two-dim-slider .video-overlay .video-close-button {
  position:absolute;
  z-index:30;
  right:8px;
  top:16px;
  padding:4px 8px 3px;
  background:#ffffff;
  display:block;
  font-size:.875em;
}
.two-dim-slider .close-button {
  cursor:pointer;
  display:block;
  width:32px;
  height:32px;
  position:relative;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}
.two-dim-slider .close-button .close-icon {
  margin:0;
  width:32px;
  height:32px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/touchfolio-sprite-default.png) no-repeat -64px -32px;
  background-color:#ffffff;
  display:block;
}
.two-dim-slider .slider-wrapper {
  overflow:hidden;
  width:100%;
  height:100%;
  top:0;
  left:0;
  margin:0;
  zoom:1;
  z-index:20;
  padding:0;
}
.two-dim-slider .drag-container {
  position:relative;
  width:100%;
  height:100%;
}
.two-dim-slider .album-meta, .two-dim-slider .item-meta { display:none; }
.two-dim-slider .block {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  -o-transform-origin:0;
}
.two-dim-slider .block img.blocked-by-loop { visibility:hidden !important; }
.two-dim-slider .block-inside {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:0;
  overflow:hidden;
}
.two-dim-slider .top { top:-100%; }
.two-dim-slider .bottom { top:100%; }
.two-dim-slider .left { left:-100%; }
.two-dim-slider .right { left:100%; }
.two-dim-slider .last-block { background:none !important; }
.two-dim-slider .last-block img { visibility:hidden !important; }
.two-dim-slider .arrow-left a, .two-dim-slider .arrow-right a {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-transition:none 0s ease-in-out;
  -moz-transition:none 0s ease-in-out;
  -o-transition:none 0s ease-in-out;
  transition:none 0s ease-in-out;
}
.two-dim-slider .arrow-left a:hover, .two-dim-slider .arrow-right a:hover {
  background:none;
  border:0;
  color:#3b3a37;
}
.two-dim-slider .arrow-left a:hover .info-text.info-text-visible, .two-dim-slider .arrow-right a:hover .info-text.info-text-visible {
  visibility:visible;
  opacity:1;
  color:#3b3a37;
}
.two-dim-slider .arrow-left a .info-text, .two-dim-slider .arrow-right a .info-text {
  display:block;
  visibility:hidden;
  background:#ffffff;
  white-space:nowrap;
  float:left;
  position:absolute;
  left:32px;
  top:8px;
  padding:7px 8px 6px;
  font-size:12px;
  line-height:18px;
  opacity:0;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}
.two-dim-slider .arrow-right a .info-text {
  left:auto;
  right:32px;
}
.two-dim-slider .arrow-right a .info-text.info-text-visible {
  visibility:visible;
  opacity:1;
}
.two-dim-slider .arrow-left, .two-dim-slider .arrow-right {
  position:absolute;
  top:50%;
  z-index:25;
  display:block;
  width:48px;
  height:48px;
  margin:0;
}
.two-dim-slider .arrow-left .icon-bg, .two-dim-slider .arrow-right .icon-bg {
  width:48px;
  height:48px;
  display:block;
  position:relative;
  margin-top:-24px;
  cursor:pointer;
}
.two-dim-slider .arrow-left .icon-bg .icon, .two-dim-slider .arrow-right .icon-bg .icon {
  float:left;
  display:block;
  margin:8px 0 0 8px;
  width:32px;
  height:31px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/touchfolio-sprite-default.png);
  background-color:#ffffff;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}
.two-dim-slider .arrow-left.disabled-arrow .icon, .two-dim-slider .arrow-right.disabled-arrow .icon { opacity:0.2; }
.two-dim-slider .arrow-left { left:8px; }
.two-dim-slider .arrow-left .icon-bg .icon {
  margin-left:0;
  background-position:-32px -32px;
}
.two-dim-slider .arrow-left.prev-album-arrow .icon-bg .icon { background-position:-32px 0; }
.two-dim-slider .arrow-right { right:8px; }
.two-dim-slider .arrow-right .icon-bg .icon {
  margin-left:16px;
  background-position:0 -32px;
}
.two-dim-slider .arrow-right.next-album-arrow .icon-bg .icon { background-position:0 0; }
.two-dim-slider .slider-album-indicator {
  position:absolute;
  z-index:23;
  color:#3b3a37;
  width:auto;
  bottom:32px;
  right:8px;
  font-weight:bold;
}
.two-dim-slider .slider-album-indicator .album-info-text {
  padding:5px 16px;
  font-size:14px;
  background:#ffffff;
  height:22px;
  float:right;
  padding:5px 8px 5px 12px;
  -webkit-transition:opacity .25s ease-in-out;
  -moz-transition:opacity .25s ease-in-out;
  -o-transition:opacity .25s ease-in-out;
  transition:opacity .25s ease-in-out;
}
.two-dim-slider .slider-album-indicator .album-info-text.album-text-hidden { opacity:0; }
.two-dim-slider .slider-album-indicator a.album-name-indicator { margin-right:.5em; }
.two-dim-slider .slider-album-indicator .item-count-indicator {
  font-size:.75em;
  text-shadow:0 1px 1px rgba(0,0,0,0.1);
}
.two-dim-slider.smaller-collapsed-slider .slider-album-indicator { bottom:16px; }
.two-dim-slider.smaller-collapsed-slider .slider-album-indicator .album-info-text {
  display:block !important;
  width:32px;
  height:32px;
  float:right;
  text-indent:-9999px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/touchfolio-sprite-default.png) no-repeat -64px 0 transparent;
  background-color:#ffffff;
  text-decoration:none;
  border:0;
  padding:0;
}
.two-dim-slider.smaller-collapsed-slider .slider-album-indicator .item-count-indicator { display:none; }
.two-dim-slider.smaller-collapsed-slider .slider-album-indicator .album-info-block { display:block; }
.two-dim-slider.smaller-collapsed-slider .video-overlay .video-container { margin:0; }
.two-dim-slider .grab-cursor { cursor:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/grab.png) 8 8, move; }
.two-dim-slider .grabbing-cursor { cursor:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/grabbing.png) 8 8, move; }
.two-dim-slider .auto-cursor { cursor:auto; }
.two-dim-slider .slider-album-indicator { padding-bottom:0 !important; }
.album-info-block {
  -webkit-text-size-adjust:none;
  position:absolute;
  display:none;
  overflow:auto;
  z-index:50;
  width:65%;
  padding:0;
  background:#ffffff;
  right:0;
  bottom:32px;
  max-width:40em;
  color:#3b3a37;
}
.album-info-block .bottom-bar { width:100%; }
.album-info-block .info-container {
  width:auto;
  height:auto;
  padding:1.5em;
}
.album-info-block h3.album-title { margin-top:0; }
.album-info-block .album-content {
  font-size:.875em;
  line-height:1.6em;
  margin:0;
  max-height:280px;
  overflow:auto;
}
.img-desc-block {
  -webkit-text-size-adjust:none;
  position:absolute;
  overflow:auto;
  z-index:50;
  padding:0;
  background:#ffffff;
  left:0;
  top:8px;
  max-width:65%;
  color:#3b3a37;
}
.img-desc-block .info-container {
  width:auto;
  height:auto;
  padding:1.0em;
}
.img-desc-block h3.album-title { margin-top:0; }
.img-desc-block .img-content {
  font-size:.875em;
  line-height:1.6em;
  margin:0;
  max-height:300px;
  overflow:auto;
}
.close-project {
  position:relative;
  float:right;
  font-size:.875em;
  line-height:1.2em;
}
.share-project { margin-top:1em; }
a.pin-it-btn, a.facebook-share-btn {
  width:43px;
  height:21px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/touchfolio-sprite-default.png) no-repeat -192px 0 transparent;
  display:block;
  border:0;
  cursor:pointer;
  float:left;
  opacity:.75;
}
a.pin-it-btn:hover, a.facebook-share-btn:hover {
  opacity:1;
  background-color:transparent;
}
a.facebook-share-btn {
  margin-left:8px;
  width:53px;
  height:20px;
  background-position:-192px -32px;
  display:block;
  border:0;
}
.slider-data {
  display:block;
  color:#ffffff;
  z-index:-1;
  overflow:hidden;
}
.slider-data a {
  color:#ffffff;
  border:0;
  background:none;
}
.slider-data .album-meta { display:block; }
.action-notifier {
  opacity:0;
  position:absolute;
  left:0;
  top:0;
  background:#ffffff;
  z-index:9999;
  white-space:nowrap;
  padding:0 8px;
  font-size:12px;
  -moz-user-select:-moz-none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -o-user-select:none;
  user-select:none;
}
.action-notifier.action-notifier-visible { opacity:1; }
body.ds-gallery-page { background:#ffffff; }
.ds-gallery-page {
  height:100%;
  overflow:hidden;
}
.ds-gallery-page #main-wrap { border-color:transparent; }
.ds-gallery-page #page, .ds-gallery-page #main {
  height:100%;
  float:none;
  margin:0;
}
.ds-gallery-page .main-header {
  position:relative;
  background:#ffffff;
  overflow-y:auto;
  height:100%;
  float:left;
}
.ds-gallery-page .main-header::-webkit-scrollbar {
  background:rgba(51,51,51,0.1);
  width:8px;
  height:8px;
}
.ds-gallery-page .main-header::-webkit-scrollbar-thumb { background-color:rgba(51,51,51,0.2); }
.ds-gallery-page .main-header::-webkit-scrollbar-thumb:hover { background-color:rgba(51,51,51,0.3); }
.ds-gallery-page #primary {
  height:100%;
  padding:0;
}
.ds-gallery-page #content { height:100%; }
.ds-gallery-page .push { display:none; }
.ds-gallery-page .two-dim-slider {
  left:16em;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  padding:8px;
  width:auto;
  height:auto;
  overflow:hidden;
}
.ds-gallery-page .mouse-follow-cursor {
  position:absolute;
  left:0;
  top:0;
  z-index:9999;
  background:#ffffff;
  color:;
  font-size:13px;
  padding:2px 4px;
  white-space:nowrap;
}
.entry-title { margin:0; }
.entry-title a { color:#333333; }
.entry-title a:hover {
  background:none;
  color:#cc0000;
}
.entry-header { margin:0 0 1em; }
.entry-meta {
  margin-top:0.25em;
  font-size:.875em;
  font-weight:normal;
  color:#929699;
}
.entry-meta .comments-link, .entry-meta .entry-date, .entry-meta .byline { white-space:nowrap; }
.more-link {
  margin-top:1em;
  display:inline-block;
  font-weight:normal;
  color:#3b3a37;
  overflow:hidden;
  line-height:1.3em;
}
.logged-in-as {
  font-size:.875em;
  margin-bottom:1.1428571428571em;
}
.entry-content, .entry-summary { margin:0; }
.page-links { margin:0 0 1em; }
.hentry {
  max-width:640px;
  margin:0 0 3em;
}
#nav-below {
  max-width:640px;
  margin:0 0 2em;
}
#comments {
  max-width:640px;
  margin:0;
}
#commentform #author, #commentform #email, #commentform #url {
  width:100%;
  max-width:400px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
#commentform #comment {
  min-height:10em;
  max-width:100%;
  width:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
.commentlist {
  list-style:none;
  margin:0;
  padding:0;
}
.commentlist .comment-content { padding-left:2em; }
.commentlist .children {
  list-style:none;
  margin:0 0 0.5em 2em;
}
.commentlist .comment {
  margin:0 0 1em;
  border-bottom:1px solid rgba(0,0,0,0.05);
  padding:1em 0;
}
.commentlist .comment .avatar {
  float:left;
  width:1.5em;
  height:auto;
  margin:0 0.5em 0 0;
}
.commentlist .comment time { margin:0 0.3em; }
.commentlist .comment cite {
  font-style:normal;
  font-weight:bold;
}
.commentlist .comment footer { margin-bottom:1em; }
.commentlist .comment .commentmetadata { display:inline; }
.commentlist .comment .commentmetadata a { color:#929699; }
.commentlist .comment .commentmetadata, .commentlist .comment .reply {
  font-size:.875em;
  color:#929699;
}
.commentlist .comment .reply { padding-left:2.2857142857143em; }
.commentlist .comment.author-comment cite {
  background:#fff9b3;
  padding:0 2px;
}
#respond {
  padding:.5em 2em;
  background:#f4f4f0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
#respond form { margin-top:1.5em; }
.alignleft {
  display:inline;
  float:left;
  margin-right:.5em;
  margin-top:.1em;
}
.alignright {
  display:inline;
  float:right;
  margin-left:.5em;
  margin-top:.1em;
}
.aligncenter {
  clear:both;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.aligncenter .wp-caption-text { text-align:center; }
#nav-below {
  padding-bottom:1em;
  display:block;
}
.nav-previous { float:left; }
.nav-next { float:right; }
body { background:#f8f8f6; }
html, body {
  -webkit-font-smoothing:subpixel-antialiased;
  height:100%;
  width:100%;
}
#main-wrap {
  height:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
#page {
  min-height:100%;
  border-left:16em solid #ffffff;
  zoom:1;
  margin:0 0 -4.4em 0;
}
.main-header {
  margin-left:-16em;
  position:relative;
  width:12em;
  padding:0 2em;
  float:left;
  z-index:10;
}
.push {
  height:4.4em;
  clear:both;
}
#primary { padding:1.5em 2em; }
#secondary {
  color:#3b3a37;
  float:left;
}
.menu {
  margin:5px 0 2px 0;
  font-weight:normal;
  font-size:13px;
  line-height:20px;
}
.menu ul {
  margin:0;
  list-style:none;
}
.menu li {
  margin:0 0 4px;
  list-style:none;
}
.menu a {
  text-decoration:none;
  border-bottom-color:#ffffff;
  color:#333333;
  -webkit-transition:none 0 ease-in-out;
  -moz-transition:none 0 ease-in-out;
  -o-transition:none 0 ease-in-out;
  transition:none 0 ease-in-out;
}
.menu a:hover {
  background:none;
  color:#888888;
  border-bottom-color:#888888;
}
.menu li.important-item a { background:#afeef5; }
.menu li.current-menu-item > a {
  color:#333333;
  font-weight:bold;
}
.menu-sep {
  color:#dddddd;
  font-size:13px;
}
.project-menu-sep { margin-bottom:5px; }
#gallery-menu {
  margin:.5em 0 0 0;
  font-size:13px;
  line-height:20px;
}
#gallery-menu a { color:#999999; }
#gallery-menu li.current-album-menu-item a {
  cursor:default;
  color:#333333;
}
#gallery-menu li.current-album-menu-item a:hover { border-color:transparent; }
a.menu-button {
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  padding:6px 9px 8px;
  font-size:13px;
  line-height:18px;
  font-weight:bold;
  float:right;
  color:#3b3a37;
}
a.menu-button:hover {
  background:none;
  border:0;
}
.menu-close-button .menu-button-icon { background-position:-170px -31px; }
.menu-button-icon {
  display:inline-block;
  margin-top:2px;
  width:14px;
  height:12px;
  line-height:12px;
  vertical-align:text-top;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/touchfolio-sprite-default.png) no-repeat;
  background-position:-170px -9px;
  -webkit-transition:background-position .3s ease-in-out;
  -moz-transition:background-position .3s ease-in-out;
  -o-transition:background-position .3s ease-in-out;
  transition:background-position .3s ease-in-out;
}
.mobile-menu {
  position:relative;
  font-weight:bold;
  width:4em;
  overflow:hidden;
  margin:0;
  font-size:16px;
  line-height:32px;
  padding-left:.5em;
}
.mobile-menu select {
  max-width:70px;
  top:0;
  right:0;
  border:0;
  padding:0;
  font-size:16px;
  line-height:32px;
  margin:0;
  height:32px !important;
}
.mobile-menu .menu-icon {
  display:block;
  width:16px;
  height:17px;
  float:right;
  margin-top:6px;
  background:url(http://aurummedia.ru/wp-content/themes/dimsemenov-Touchfolio-c3d30d9/img/touchfolio-sprite-default.png) no-repeat -170px -10px;
}
.mobile-menu .customStyleSelectBox {
  display:block;
  cursor:pointer;
}
.mobile-menu .customStyleSelectBoxInner {
  display:block;
  float:right;
}
.mobile-menu .select-menu {
  float:right;
  cursor:pointer;
}
.mobile-menu .customStyleSelectBox {
  display:block !important;
  float:none;
}
.logo {
  margin:2.9em 0 9px 0;
  width:auto;
  letter-spacing:0;
  font-size:1em;
}
.logo a {
  color:#333333;
  border:0;
  background:none;
  display:block;
  -webkit-transition:opacity .3s ease-in-out;
  -moz-transition:opacity .3s ease-in-out;
  -o-transition:opacity .3s ease-in-out;
  transition:opacity .3s ease-in-out;
}
.logo a:hover {
  opacity:0.6;
  background:none;
}
.logo img {
  max-width:100%;
  height:auto;
  vertical-align:bottom;
}
.site-description {
  color:#3b3a37;
  font-size:12px;
  margin-bottom:3px;
}
.widget {
  font-size:13px;
  line-height:20px;
  margin:5px 0 5px 0;
}
.widget .widget-title {
  font-weight:bold;
  color:#3b3a37;
  margin:0 0 .5em;
  font-size:13px;
  line-height:20px;
}
.widget li, .widget ul {
  margin-left:0;
  list-style:none;
}
.widget input { padding:0; }
.footer-copy {
  height:4.4em;
  overflow:hidden;
  width:100%;
  background:#ffffff;
}
.footer-copy p {
  padding:1.7142857142857em 2.2857142857143em;
  max-width:45.714285714286em;
  margin:0;
  font-size:.875em;
  line-height:1.6em;
  margin-left:18.285714285714em;
  color:#929699;
}
.footer-copy a { color:#929699; }
.page-template-ds-gallery-masonry-template-php .hentry { max-width:none; }
.page-template-ds-gallery-masonry-template-php .albums-thumbnails { width:auto; }
.page-template-ds-gallery-masonry-template-php .slider-data { display:none; }
.page-template-ds-gallery-masonry-template-php .two-dim-slider {
  display:none;
  left:0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  padding:8px;
  width:auto;
  height:auto;
  overflow:hidden;
  background:#ffffff;
  z-index:45;
}
.page-template-full-width-page-template-php .hentry { max-width:none; }
.albums-thumbnails { width:768px; }
.albums-thumbnails img {
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  display:block;
  width:304px;
}
.albums-thumbnails .image-background {
  background:#222222;
  overflow:hidden;
  width:100%;
  height:auto;
  position:relative;
}
.albums-thumbnails .project-title {
  font-weight:bold;
  width:100%;
  display:block;
  text-align:left;
  margin:.8em 0 .5em;
}
.albums-thumbnails a.project-thumb {
  display:block;
  position:relative;
  float:left;
  width:320px;
  border:0;
  margin-bottom:8px;
  -webkit-transition:none 0 ease-in-out;
  -moz-transition:none 0 ease-in-out;
  -o-transition:none 0 ease-in-out;
  transition:none 0 ease-in-out;
}
.albums-thumbnails a.project-thumb:hover {
  background:none;
  border:0;
}
.albums-thumbnails .project-thumb-inside {
  padding:7px;
  border:1px solid transparent;
  -webkit-transition:border .3s ease-in-out;
  -moz-transition:border .3s ease-in-out;
  -o-transition:border .3s ease-in-out;
  transition:border .3s ease-in-out;
}
.albums-thumbnails .project-thumb-inside:hover { border-color:#dddddd; }
.albums-thumbnails .project-thumb-inside:hover img { opacity:.7; }
.albums-thumbnails .project-thumb-inside:hover .project-title { color:#cc0000; }
.albums-thumbnails .project-description { font-size:.875em; }
.search-results h1.entry-title {
  font-size:1.25em;
  margin:1.1em 0 0.5em;
}
.search-results .hentry { margin-bottom:3em; }
.search-results .page-header { margin-bottom:3em; }
.search-results .page-title { font-size:2em; }
@media only screen and (max-width: 1150px) {
  .main-header {
    width:10em;
    padding:0 1.5em;
    margin-left:-13em;
  }
  .footer-copy p {
    margin-left:14.857142857143em;
    padding-left:1.7142857142857em;
    padding-right:1.7142857142857em;
  }
  #primary { padding:1.5em 1.5em; }
  #page { border-left:13em solid #ffffff; }
  .ds-gallery-page .two-dim-slider {
    left:13em;
    top:0;
    right:0;
    bottom:0;
  }
  p img { max-width:100%; }
}
.page-template-ds-gallery-masonry-template-php.collapsed-layout #primary { padding:1em 1em 1.5em; }
.page-template-ds-gallery-masonry-template-php.collapsed-layout .albums-thumbnails { margin:0 auto; }
.collapsed-layout #main-wrap {
  background:#ffffff;
  padding:0;
  width:auto !important;
}
.collapsed-layout p img { max-width:100%; }
.collapsed-layout .logo {
  margin:0;
  width:140px;
  padding:0;
}
.collapsed-layout .logo a {
  font-size:19px;
  padding:20px 16px 20px 16px;
}
.collapsed-layout .main-header {
  width:100%;
  position:relative;
  padding:0;
  margin:0;
  background:#ffffff;
}
.collapsed-layout .main-header .menus-container {
  clear:both;
  float:right;
  margin-right:0;
  position:absolute;
  right:0;
  top:0;
  background:#ffffff;
  padding:8px 0;
  overflow:hidden;
}
.collapsed-layout .main-header .menu { margin:0 0 8px; }
.collapsed-layout .main-header .menu li {
  width:auto;
  margin:0;
}
.collapsed-layout .main-header .menu a {
  width:100%;
  display:block;
  padding:4px 16px 2px;
}
.collapsed-layout .main-header .menu a:hover {
  border-color:transparent;
  background-color:rgba(0,0,0,0.1);
}
.collapsed-layout .main-header .menu-sep { display:none; }
.collapsed-layout .main-header .top-logo-group {
  float:left;
  display:block;
  overflow:hidden;
}
.collapsed-layout .main-header .site-description { display:none; }
.collapsed-layout .main-header .menu-button {
  margin:13px 8px 13px 16px;
  float:right;
}
.collapsed-layout .menu-sep { display:none; }
.collapsed-layout #main {
  width:100%;
  clear:both;
}
.collapsed-layout #primary {
  padding:1em 10% 1.5em;
  background:#f8f8f6;
}
.collapsed-layout #page {
  min-height:0;
  height:auto;
  margin:0;
  border:0;
}
.collapsed-layout .footer-copy {
  height:auto;
  overflow:visible;
}
.collapsed-layout .push { display:none; }
.collapsed-layout .footer-copy { background:none; }
.collapsed-layout .footer-copy p {
  width:80%;
  padding-left:10%;
  padding-right:10%;
  max-width:none;
  margin:0;
}
.collapsed-layout #secondary {
  float:none;
  width:100%;
  padding:1.5em 0;
  background:#ffffff;
}
.collapsed-layout #secondary .widget {
  padding:0 10%;
  margin:0 0 1.5em 0;
}
.collapsed-layout #main { border-left:none; }
.collapsed-layout .hentry, .collapsed-layout #comments, .collapsed-layout #nav-below { max-width:none; }
.collapsed-layout .site-content { margin:0; }
.collapsed-layout #content { margin:0; }
.collapsed-layout .video-overlay .video-container { margin:.5em; }
.collapsed-gallery-page #main-wrap { border-top:0; }
.collapsed-gallery-page #page {
  border:0;
  margin:0;
}
.collapsed-gallery-page #main { border:0; }
.collapsed-gallery-page .logo {
  margin:0;
  width:100px;
}
.collapsed-gallery-page .logo a {
  margin:7px 0 0 0;
  font-size:19px;
}
.collapsed-gallery-page #gallery-menu { display:none; }
.collapsed-gallery-page .two-dim-slider {
  left:0;
  top:0;
  right:0;
  bottom:0;
}
.collapsed-gallery-page .two-dim-slider .image-nav {
  bottom:.5em;
  left:.5em;
}
.collapsed-gallery-page .two-dim-slider .slider-album-indicator { bottom:16px; }
.collapsed-gallery-page .album-info-block {
  right:0;
  bottom:0;
  top:auto;
  left:0;
  height:auto;
  max-height:100%;
  overflow-y:auto;
  width:auto;
  max-width:none;
}
.collapsed-gallery-page .album-info-block .info-container {
  width:auto;
  height:auto;
  padding:1em 1em 2em;
}
.collapsed-gallery-page .album-info-block::-webkit-scrollbar {
  background:rgba(51,51,51,0.1);
  width:8px;
  height:8px;
}
.collapsed-gallery-page .album-info-block::-webkit-scrollbar-thumb { background-color:rgba(51,51,51,0.2); }
.collapsed-gallery-page .album-info-block::-webkit-scrollbar-thumb:hover { background-color:rgba(51,51,51,0.3); }
.collapsed-gallery-page .main-header {
  width:auto;
  height:auto;
  overflow:hidden;
  position:relative;
  padding:0 8px 0 8px;
  margin:0;
  left:8px;
  top:16px;
}
.collapsed-gallery-page .main-header .menus-container {
  margin:0;
  overflow:hidden;
  clear:both;
}
.collapsed-gallery-page .main-header .menu { margin:0 0 16px; }
.collapsed-gallery-page .main-header .menu li {
  width:auto;
  margin:0;
}
.collapsed-gallery-page .main-header .menu a {
  width:100%;
  display:block;
  padding:4px 16px 2px 0;
}
.collapsed-gallery-page .main-header .menu a:hover {
  border-color:transparent;
  background-color:rgba(0,0,0,0.1);
}
.collapsed-gallery-page .main-header .menu-sep { display:none; }
.collapsed-gallery-page .main-header #main-menu { margin-top:2px; }
.collapsed-gallery-page .main-header .menu-button { margin:0 -8px 0 0; }
.collapsed-gallery-page .main-header .top-logo-group { float:left; }
.collapsed-gallery-page .main-header .site-description { display:none; }
@media only screen and (max-width: 620px) {
  .album-info-block { font-size:90%; }
}
@media only screen and (max-width: 500px) {
  .album-info-block { font-size:85%; }
  .collapsed-layout #primary, .collapsed-layout #secondary .widget, .collapsed-layout .footer-copy p {
    padding-left:1em !important;
    padding-right:1em !important;
  }
  .collapsed-layout .footer-copy { background:none; }
  .collapsed-layout .video-overlay .video-container { margin:0; }
  .collapsed-layout .slider-album-indicator { max-width:80%; }
  .ds-gallery-page .main-header {
    top:8px;
    left:0;
  }
  .ds-gallery-page .arrow-nav { bottom:48px; }
  .ds-gallery-page .slider-album-indicator { bottom:8px; }
  .ds-gallery-page .two-dim-slider { padding:0; }
  .ds-gallery-page .two-dim-slider .arrow-right { right:0px; }
  .ds-gallery-page .two-dim-slider .arrow-left { left:0px; }
  .ds-gallery-page .two-dim-slider .slider-album-indicator {
    bottom:8px;
    right:0;
  }
  .ds-gallery-page .album-info-block .info-container { padding-bottom:1em; }
}
