/*
Theme Name: Brew House
Theme URI: http://modernthemes.net/wordpress-themes/brew-house
Author: ModernThemes, LLC
Author URI: http://modernthemes.net
Description: A WordPress theme for Brewerys and Bars.
Version: 1.25
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: brewhouse

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others. 

brewhouse is built with Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc. and includes Simple Grid (https://github.com/ThisIsDallas/Simple-Grid) by ThisisDallas, Custom Meta Boxes by WebDevStudios and Font Awesome (http://fortawesome.github.io/Font-Awesome/) by Dave Gandy.

brewhouse incorporates code from GWF Options Menu by Richie KS and My Custom CSS Plugin by Salvatore Noschese - DarkWolf, 2013. 

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
13.0 - Skeleton
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
	margin: 0;
	overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}
a {
	outline: 0;
	text-decoration: none;
}
a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	clear: both;
	margin-bottom: 0.25em;
}
h1 { font-size: 36px; line-height: 38px; }
h2 { font-size: 32px; line-height: 34px;}
h3 { font-size: 28px; line-height: 30px;}
h4 { font-size: 24px; line-height: 26px;}
h5 { font-size: 20px; line-height: 22px;}
h6 { font-size: 16px; line-height: 18px;}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
    background: none repeat scroll 0 0 #f1f1f1;
    border-left: 5px solid #444;
    color: #666;
    line-height: 26px;
    margin-bottom: 0.5em;
    padding: 30px 20px 1px;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}
.text-center {
	text-align: center;
}
/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

.hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f1f1f1 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 2px 0 0;
    display: block;
    height: 2px;
    margin: 1.38889rem auto 1.94444rem;
    padding: 0;
    width: 5rem;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid;
	border-color: #666;
	background: none;
	color: #666;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.035em;
	padding: 1em 1.5em .9em;
	transition: ease-in-out 0.2s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #333;
	transition: ease-in-out 0.2s;
	transform: scale(1.1);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #333;
	transition: ease-in-out 0.2s;
	transform: scale(1.1);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.hdyrpen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666; 
	border: 1.5px solid #666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;  
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	padding: 5px;
}

/**** contact form *****/

#contactForm ul { 
  list-style: none outside none;
}

ul.contact-form {
	font-size: 18px;
	margin: 0;
	padding-bottom: 2.5em;
}
ul.contact-form li {
	list-style: none;
	display: inline-block;
}
ul.contact-form input {
	border-radius: 4px;
	width:100%; 
}
li.contact-name {
	width: 49%; 
	margin-bottom: 20px;
	margin-right: 2%;
	float: left;
	}
	
li.contact-email {
	width: 49%;
	margin-bottom: 20px;
}
li.contact-comments {
	width: 100%; 
}
li.contact-comments textarea { 
	border-radius: 4px;
}
 
 input[type="submit"].contact-submit {
	border-radius: 2px; 
	margin-top: 20px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 13px;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: #d13939;
}

a:hover,
a:focus,
a:active {
	color: #d13939;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	text-transform: uppercase;
	letter-spacing: 0.025em;
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	float: right;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-weight: 900;
	padding: 0 10px;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.hdyr-main .comment-navigation,
.hdyr-main .paging-navigation,
.hdyr-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.hdyr-header:before,
.hdyr-header:after,
.hdyr-content:before,
.hdyr-content:after,
.hdyr-footer:before,
.hdyr-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.hdyr-header:after,
.hdyr-content:after,
.hdyr-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget-title {
	font-size: 25px;
}
.widget ul {
	margin: 0;
	list-style: none;
}

/*--- opening hours widget ---*/
input.opening-hours { width: 58px; }  
.opening-hours-list li{ background-image: none; padding: 8px 0px;
	border-bottom-width: 1px; border-bottom-style: solid; }
.opening-hours-list li span.head{ width: 90px; display: block; float: left; line-height: 16px; }
.opening-hours-list li span.close,
.opening-hours-list li span.time{ overflow: hidden; padding-left: 22px; line-height: 16px; 
	display: block; background-position: 0px 0px; background-repeat: no-repeat; }
.opening-hours-list li span.head{ color: #D13939; } 
input.opening-hours { width:100%; } 

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
.site-header {
	position: absolute; 
	width: 100%;
	top: 0;
	z-index: 99;
}
#home-parallax {
	min-height: 100vh;
	position: relative;
}
.home-parallax-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.slide-content {
	text-align: center;
	color: #fff;
	z-index: 999;
}
.slide-content .data, .page-entry-header .data {
	position: relative !important;
} 
.slide-content h2 {
	font-size: 62px;
	line-height: 60px;
	letter-spacing: -0.01em; 
	text-transform: uppercase;
	margin-bottom: 30px;
}
.slide-content .fa, .page-entry-header .fa {
	font-size: 50px;
	line-height: 20px;
	transition: ease-in-out 0.1s;
}
.slide-content a > .fa, .page-entry-header a > .fa { color: #fff; }

.slide-content .fa:hover, .page-entry-header .fa:hover {
	transform: scale(1.25);
	transition: ease-in-out 0.1s;
}
.parallax-bg {
	position: absolute;
}
.home-background {
    position: absolute;
	
}
.home-info {
	position: relative;
	width: 100%;
	margin-top: -0.85em;
	overflow: auto;
}
.badge {
	max-width:300px;
	margin-bottom: 30px;
}
.color-dark, .color-light {
	height: 450px;
	text-align: center;
	display: table;
	width: 50%;
	float: left;
}
.color-dark {
	background: #d13939;
	color: #f1f1f1; 
}
.color-dark button, .white-btn {
	border-color: #f1f1f1;
	color: #f1f1f1;
}
.color-light {
	background: #ece8da;
	color: #444; 
}
.color-text { 
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
	max-width: 400px;
}
.color-text .fa {
	font-size: 40px;
	margin-bottom: 20px;
}
.color-text p {
	margin: 30px auto;
	max-width: 420px;
}
#cta-parallax {
	min-height: 450px;
	position: relative;
	overflow: hidden;
}
.cta-content {
	text-align: center;
	padding: 100px 20px;
	min-height: 450px;
	margin: 0 auto;
	color: #fff; 
	z-index: 9999;
	position: absolute;
 	width: 100%;
}
.cta-content .layer {
	position: relative !important;
} 
.cta-parallax-bg {
	position: absolute !important;
	width: 100% !important;
	height: auto;
}
.cta-content h2 {
	font-size: 62px;
	line-height: 60px;
	letter-spacing: -0.01em; 
	text-transform: uppercase;
	margin-bottom: 30px;
}
.cta-content p {
	font-size: 20px;
	max-width: 600px;
	margin: 10px auto 30px;
}
.beer {
	display: block;
	float: left;
	max-width: 150px;
}
.featured-drinks {
	padding-bottom: 40px; 
}
.beer-list .col-1-4 {
	margin-bottom: 40px;
	min-height: 225px;
}
.featured-drink span {
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 15px;
	display: block;
}
.featured-drink em {
	color: #d13939;
	display: block;
	margin-bottom: 15px;
	font-weight: 400;
}
.hdyr-footer {
	padding: 40px 0 20px;
	background: #444;
	color: #f1f1f1;
} 
.footer-block {
	display: table; 
	text-align: center;  
	float: left;
	height: 215px;
}
.footer-block-text {
    display: table-cell;
    max-width: 400px;
    padding: 20px 20px 0;
    vertical-align: middle;
}
.footer-block-text .fa {
	font-size: 85px;
	margin-bottom: 20px;
	display: block;
}

.social-media-icons {
  padding-top: 5px; 
  margin: 0 auto;
  text-align: center;
}

.social-media-icons li {
  color: #fff;
  display: inline-block;
  float: none; 
  list-style: none outside none;
  line-height: 0px !important;
} 

.social-media-icons .fa {
  font-size: 24px !important;   
  margin: 0 15px;
  line-height: 0px !important;
  display: inline-block !important;
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s; 
}

.social-media-icons .fa:hover { color: #D13939; } 

.social {
  margin: 1rem 0; 
}

.hdyr-info, .hdyr-info a, .hdyr-info a:vihdyrd {
	color: #ccc;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
}
#page {
	overflow: hidden;
}
.box-align {
	width: 100%;
	height: 100%;
	display: table !important;
}
.vertical-align {
	display: table-cell;
	vertical-align: middle;
}
.site-footer {
	background: #333;
	color: #ededed;
	padding: 20px 0; 
}
.site-footer a {
	color: #ccc;
}
.site-info {
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
}
.entry-meta {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}
img.page-header {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 110%;
	z-index: -1;
}
.entry-header {
	background: #D13939;
	overflow: hidden;
}
.blog-title a {
	color: #404040;
}
.contact-area {
	background: #fff;
}
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.entry-content {
	padding-bottom: 20px;
	background: #fff;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-entry-header {
	padding: 15% 40px 5%;
	text-align: center;
	color: #fff;
	position: relative;
	overflow: hidden;
}
.page-entry-header-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1; 
	background-size: cover !important;
}
.page-entry-title {
	font-size: 72px;
	line-height: 68px;
	margin-bottom: 10px;
}
.page-entry-header p {
	font-size: 24px;
	max-width: 400px;
	margin: 0 auto 30px;
}
.underline {
    margin-bottom: 20px;
    position: relative;
}
.underline span {
	background: #fff;
	position: relative;
	padding: 0 20px 0 0;
	z-index: 99;
}
.underline:after {
    border-bottom: 2px solid #333;
    bottom: 15px;
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
}
.posted-on, .posted-on a {
	color: #d13939;
	margin-bottom: 10px;
}
.max-width {
	max-width: 900px;
	margin: 0 auto;
}
.text-center article {
	border-bottom: 1px dotted #666;
	padding-bottom: 35px;
	margin-bottom: 35px;
}
.text-center article:last-child {
	border-bottom: none;
	margin-bottom: 5px;
}

.about-section { padding-bottom:1.5em; position:relative; }

.about-section h3 { text-align:center; margin: 15px 0; } 


/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
article {
	background: #fff;
}
/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .hdyr-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .hdyr-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}
.border--top, .border--right, .border--bottom, .border--left {
    background-color: #f1f1f1;
    position: fixed;
    z-index: 999;
}
.border--top, .border--bottom {
    height: 1.2em;
    left: 0;
    right: 0;
}
.border--right, .border--left {
    bottom: 0;
    top: 0;
    width: 1.2em;
}
.border--top {
    top: 0;
}
.border--right {
    right: 0;
}
.border--bottom {
    bottom: 0;
}
.border--left {
    left: 0;
}
/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
#gallery-container {
	background: #ededed;
}
.gallery-image {
	width: 33.33333%;
	float: left;
}
.gallery-image img {
	display: block;
	width:  100%;
	opacity: 0.8;
	transition: 0.2s ease-in-out; 
}
.gallery-image img:hover {
	opacity: 1;
	transition: 0.2s ease-in-out; 
}

/*--------------------------------------------------------------
13.0 Skeleton
--------------------------------------------------------------*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
}

[class*='col-'] {
	float: left;
	padding-right: 40px; /* column-space */
}

.grid {
	width: 100%;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 40px; 
	padding-left: 40px; /* grid-space to left */
	padding-right: 0px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}



/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
	margin-left: 50%;
}

.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
	margin-left: 25%;
}

.push-1-5 {
	margin-left: 20%;
}

.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}

.push-1-7 {
	margin-left: 14.28%;
}

.push-1-8 {
	margin-left: 12.5%;
}

.push-1-9 {
	margin-left: 11.1%;
}

.push-1-10 {
	margin-left: 10%;
}

.push-1-11 {
	margin-left: 9.09%;
}

.push-1-12 {
	margin-left: 8.33%
}

@media handheld, only screen and (max-width: 1160px) {
	
.beer-list .col-1-4 { min-height: 325px; }

}

@media handheld, only screen and (max-width: 960px) { 
	
.beer-list .col-1-4 { min-height: 375px; }

}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 30px; /* grid-space to left */
		padding-right: 20px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}
	
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 10px; /* column-space */
	} 
	
	
	/* Mobile Layout */
	
	[class*='mobile-col-'] {
		float: left;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 10px; /* column-space */
		padding-bottom: 0px;
	}
	
	.mobile-col-1-1 {
		width: 100%;
	}
	.mobile-col-2-3, .mobile-col-8-12 {
		width: 66.66%;
	}

	.mobile-col-1-2, .mobile-col-6-12 {
		width: 50%;
	}

	.mobile-col-1-3, .mobile-col-4-12 {
		width: 33.33%;
	}

	.mobile-col-1-4, .mobile-col-3-12 {
		width: 25%;
	}

	.mobile-col-1-5 {
		width: 20%;
	}

	.mobile-col-1-6, .mobile-col-2-12 {
		width: 16.667%;
	}

	.mobile-col-1-7 {
		width: 14.28%;
	}

	.mobile-col-1-8 {
		width: 12.5%;
	}

	.mobile-col-1-9 {
		width: 11.1%;
	}

	.mobile-col-1-10 {
		width: 10%;
	}

	.mobile-col-1-11 {
		width: 9.09%;
	}

	.mobile-col-1-12 {
		width: 8.33%
	}

	/* Layout Columns */

	.mobile-col-11-12 {
		width: 91.66%
	}

	.mobile-col-10-12 {
		width: 83.333%;
	}

	.mobile-col-9-12 {
		width: 75%;
	}

	.mobile-col-5-12 {
		width: 41.66%;
	}

	.mobile-col-7-12 {
		width: 58.33%
	}
	
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
	
	.color-dark, .color-light {
		width: 100%;
	}
	
	.beer {
		float: none;
		margin: 0 auto;
	}
	
	.gallery-image {
		width: 50%;
	}
	.slide-content h2 {
		font-size: 42px;
		line-height: 44px;
	}
	
	.footer-block { display:block; } 
	
	.footer-block-text { display: block; max-width: 100%; }
	
	.featured-drink p, .featured-drink span, .featured-drink em {text-align: center;}
	

	.page-entry-header {
    padding: 20% 40px 2%;
	}  
	.page-entry-title {
    font-size: 32px;
	line-height: 32px;
    margin-bottom: 10px;
	}
	#cta-parallax {
	min-height: 300px;
	}
	.cta-content {
	min-height: 300px;
	padding: 5% 40px;
	}
	.cta-content h2 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 10px;
	}

} 


@media handheld, only screen and (max-width: 468px) {
	.gallery-image { width: 100%; }
    .site-header button, .site-header input[type="button"], .site-header input[type="reset"], .site-header input[type="submit"] { padding: 0em 1.5em 0.9em; }
	.page-entry-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
	}
	.cta-content p {
		display: none;
	}
	#cta-parallax {
	min-height: 200px;
	}
	.cta-content {
	min-height: 200px;
	padding: 5% 40px;
	}
	 
}